<div class="container">
  <div class="circle-title center-block">
    <p>人工智能</p>
  </div>
  <div class="circle-introduce center-block">
    理财社交,概念学习,资源交换
  </div>
  <div class="circle-label center-block">
      科技
  </div>



</div>
<style media="screen">
  .circle-title{
    margin-top: 50px;
    width: 120px;
    height: 120px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid gray;

  }
  .circle-title p{
    margin-top: 45px;
  }

  .circle-introduce{
    font-family: sans-serif;
    text-align: center;
    margin-top: 50px;
    /*width: 200px;*/


  }
  .circle-label{
    margin-top: 50px;
    text-align: center;
  }
</style>
