
<body>
  <div class="container">

    <div class="input-group " style="margin-top:20px">
          <input type="text" class="form-control"placeholder="请输入圈子或内容" / >
              <span class="input-group-btn">
              <%= link_to "搜索",'search_list',class:'btn btn-success'%>
            </span>
      </div>
      <br/>
      <br>
      <br>

<div class="">
    <form class="bs-example bs-example-form" role="form">
        <div class="input-group">
            <span class="input-group-addon">名称</span>
            <input type="text" class="form-control" placeholder="title">
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon">类型</span>
          <div class="form-group">
            <select class="form-control">
              <option>IT</option>
              <option>互联网</option>
              <option>人工智能</option>
              <option>大数据</option>
              <option>其它</option>
            </select>
        </div>
        </div>
        <br>
            <textarea class="form-control " rows="5" placeholder="圈子简介(选填)"></textarea>
        <br/>

          <%= link_to "创 建",'#',class: 'btn  form-control  btn-success '%>
          <br/>
          <br>

          <%= link_to "返 回",'/',class: 'btn  form-control  btn-info '%>
    </form>
  </div>
</div>
