<div class="container">
  <br>
  <div class="content">
    <p hidden="" class="details">time_more.html</p>
    <table>
      <tr>
        <td><%= link_to image_tag("user1.jpg",alt:"user1",class:"img-responsive img-circle")%></td>
        <td >
          <span class="name-time">&nbsp&nbsp邓超<br>&nbsp&nbsp2017/7/14<span></td>
          </tr>
        </table>
        《人类简史》和《未来简史》的作者 发表对人工智能的看法<a href="https://media.weibo.cn/article?id=2309404126842893252606&jumpfrom=weibocom">链接：微博文章</a>
        <div class="" style="margin-top:10px">
          <span class="glyphicon glyphicon-thumbs-up">
            666</span>
          &nbsp&nbsp&nbsp<span class="glyphicon glyphicon-share-alt"></span>&nbsp&nbsp&nbsp<span class="glyphicon glyphicon-comment"></span>
        </div>
      </div>
      <hr>

      <table>
        <tr>
          <td><%= link_to image_tag("user3.jpg",alt:"user1",class:"img-responsive img-circle")%></td>
          <td >
            <span class="name-time">&nbsp&nbspHello </span>: 不错,发展会很迅速<br>&nbsp&nbsp<span class="name-time">2017/7/14</span></td>
            </tr>
          </table>


        <hr>

        <table>
          <tr>
            <td><%= link_to image_tag("default3.jpg",alt:"user1",class:"img-responsive img-circle")%></td>
            <td >
              <span class="name-time">&nbsp&nbspBob </span>: 不错,发展会很迅速<br>&nbsp&nbsp<span class="name-time">2017/7/14<span></td>
              </tr>
            </table>
            <hr>

            <table>
              <tr>
                <td><%= link_to image_tag("user2.jpg",alt:"user1",class:"img-responsive img-circle")%></td>
                <td >
                  <span class="name-time">&nbsp&nbspwell </span>: 期待那一天<br>&nbsp&nbsp<span class="name-time">2017/7/14<span></td>
                  </tr>
                </table>

          </div>
