<div class="container">
  <br>
  <div class="content">

    <table>
      <tr>
        <td><%= link_to image_tag("user1.jpg",alt:"user1",class:"img-responsive img-circle")%></td>
        <td >
          <span class="name-time">邓超</span><br>
          <span class="name-time">2017/7/14</span>
        </td>
      </tr>
    </table>
    《人类简史》和《未来简史》的作者 发表对人工智能的看法<a href="https://media.weibo.cn/article?id=2309404126842893252606&jumpfrom=weibocom">链接：微博文章</a>
    <div class="" style="margin-top:10px">
      <span class="glyphicon glyphicon-thumbs-up">
        666</span>
      &nbsp&nbsp&nbsp<span class="glyphicon glyphicon-share-alt"></span>&nbsp&nbsp&nbsp<span class="glyphicon glyphicon-comment"></span>
    </div>
  </div>
  <br>
  <span class="pl">评论</span>
  <span class="pl-num">(3)</span>
  <hr>

  <div class="replay">

    <table>
      <tr>
        <td style="min-width:50px;"><%= link_to image_tag("user3.jpg",alt:"user1",class:"img-responsive img-circle")%></td>

        <td style="">

          <span class="name-time">Hello</span><br>
          <sapn class="name-time">2017/7/14</span>
        </td>
        <!-- <td style="min-width:10px;">赞</td> -->

      </tr>
      <tr>
        <td></td>
        <td>非常好非常好非常好非常好非常好常好非常好非常好常好非常好非常好常好非常好非常好常好非常好非常好非常好非常好非常好非常好非常好非常好非常好非常好非</td>
      </tr>
    </table>

    <hr>

    <table>
      <tr>
        <td style="min-width:50px;"><%= link_to image_tag("default3.jpg",alt:"user1",class:"img-responsive img-circle")%></td>
        <td >
          <span class="name-time">Bob</span><br>
          <sapn class="name-time">2017/7/14</span>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>不错,分析的很有道理</td>
      </tr>

    </table>

    <hr>

    <table>
      <tr>
        <td><%= link_to image_tag("user2.jpg",alt:"user1",class:"img-responsive img-circle")%></td>
        <td >
          <span class="name-time">Well</span><br>
          <sapn class="name-time">2017/7/14</span>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>观点很独特,也很全面</td>
      </tr>
    </table>
  </div>

</div>
<style media="screen">


}
</style>
