<div class="container">
  <br>

  <!-- 详情界面 -->
  <table>
    <tr>
      <td><%= link_to image_tag("user2.jpg",alt:"user1",class:"img-responsive img-circle")%></td>
      <td style="">
        <span class="name-time">&nbsp&nbspmonkeyfly<br>&nbsp&nbsp2017/7/13</span>
      </td>
    </tr>

  </table>
  机器之心 - 吴恩达重磅回归，成立创业公司Deeplearning.ai（分享自知乎网）<a href="https://zhuanlan.zhihu.com/p/27538445">链接：吴恩达重磅回归，成立创业公司Deeplearning.ai - 知乎专栏</a>
  <!-- <span class="glyphicon glyphicon-thumbs-up"></span> &nbsp&nbsp&nbsp<span class="glyphicon glyphicon-share-alt"></span>&nbsp&nbsp&nbsp<span class="glyphicon glyphicon-comment"></span> -->
  <hr>

  <table >
    <tr>
      <td><%= link_to image_tag("user3.jpg",alt:"user1",class:"img-responsive img-circle")%></td>
      <td >
        <span class="name-time">&nbsp&nbspwell
        </span>: 吴恩达在这个领域很专业<br>&nbsp&nbsp<span class="name-time">2017/7/14</span>
      </td>
    </tr>
  </table>
  <hr>


  <table >
    <tr>
      <td ><%= link_to image_tag("default4.jpg",alt:"user1",class:"img-responsive img-circle")%></td>
      <td >
        <span class="name-time">&nbsp&nbspTom
        </span>: 大佬<br>&nbsp&nbsp<span class="name-time">2017/7/14</span>
      </td>
    </tr>
  </table>
  <hr>


</div>
