<div class="container">

  <div class="panel panel-default" style="margin-top:10px">
    <div class="panel-heading">
      圈子
      <div class="pull-right">
        <%= link_to "创建",creat_path%>
      </div>
    </div>
    <div class="panel-body">
      <div class="content">
        <!-- 详情界面 -->
        <p hidden="" class="details">details_one.html</p>

        <table>
          <tr class="tr">
            <td><%= link_to image_tag("user1.jpg",alt:"user1",class:"img-responsive img-circle")%></td>
            <td >
              <span class="name-time">邓超</span><br>
              <span class="name-time">2017/7/14</span>
            </td>
          </tr>

        </table>
        《人类简史》和《未来简史》的作者 发表对人工智能的看法<a href="https://media.weibo.cn/article?id=2309404126842893252606&jumpfrom=weibocom">链接：微博文章</a>
        <!-- <span class="glyphicon glyphicon-thumbs-up"></span> &<span class="glyphicon glyphicon-share-alt"></span>&<span class="glyphicon glyphicon-comment"></span> -->
      </div>
      <hr>
      <div class="content">
        <!-- 详情界面 -->
        <p hidden="" class="details">details_two.html</p>

        <table>
          <tr>
            <td><%= link_to image_tag("user2.jpg",alt:"user1",class:"img-responsive img-circle")%></td>
            <td style="">
              <span class="name-time">monkeyfly</span><br>
              <span class="name-time">2017/7/13</span>
            </td>
          </tr>

        </table>
        机器之心 - 吴恩达重磅回归，成立创业公司Deeplearning.ai（分享自知乎网）<a href="https://zhuanlan.zhihu.com/p/27538445">链接：吴恩达重磅回归，成立创业公司Deeplearning.ai - 知乎专栏</a>
        <!-- <span class="glyphicon glyphicon-thumbs-up"></span> &<span class="glyphicon glyphicon-share-alt"></span>&<span class="glyphicon glyphicon-comment"></span> -->
      </div>

    </div>

    <div class="panel-footer">
      <div class="pull-right">
        <%= link_to "更多",time_more_path%>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  $(".content").click(function () {
    window.location.href = $(this).children(".details").text();
  });
</script>
