
  <div class="container" style="margin-top:20px">
    <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= link_to "返回","creat",class:"btn btn-success"%>
  </div>
</nav>
<br>
<br>
    <table style="border-collapse:separate; border-spacing:0px 15px;">
      <tr>
        <td><%= link_to image_tag("user2.jpg",alt:"user1",class:"img-responsive img-circle")%></td>
        <td>&nbsp&nbsp金融服务圈<br>&nbsp&nbspID: 23643432&nbsp&nbsp 夏天雨</td>
      </tr>
      <tr>
        <td><%= link_to image_tag("user2.jpg",alt:"user1",class:"img-responsive img-circle")%></td>
        <td>&nbsp&nbsp金融服务圈<br>&nbsp&nbspID: 23643432&nbsp&nbsp 夏天雨</td>
      </tr>

    </table>

  </div>
  <style media="screen">
  .btn{
    margin-top: 7px;
  }
    table{
      margin-left:  10px;
    }
  </style>
