<div class="container">

  <div class="panel panel-default" style="margin-top:10px">

    <div class="panel-body">
      <div class="">
        <table>
          <tr>
            <td><%= link_to image_tag("user1.jpg",alt:"user1",class:"img-responsive img-circle")%></td>
            <td style="">&nbsp&nbsp hello<br>&nbsp&nbsp<span class="time">2017/7/14<span></td>
              </tr>
            </table>
            《人类简史》和《未来简史》的作者 发表对人工智能的看法<a href="https://media.weibo.cn/article?id=2309404126842893252606&jumpfrom=weibocom">链接：微博文章</a>
            <div class="" style="margin-top:10px">
              <span class="glyphicon glyphicon-thumbs-up">
                666</span>
              &nbsp&nbsp&nbsp<span class="glyphicon glyphicon-share-alt"></span>&nbsp&nbsp&nbsp<span class="glyphicon glyphicon-comment"></span>

            </div>
          </div>
        </div>

      </div>

      <div class="panel panel-default" style="margin-top:10px">

        <div class="panel-body">
          <div class="">

            <table>
              <tr>
                <td><%= link_to image_tag("user4.jpg",alt:"user1",class:"img-responsive img-circle")%></td>
                <td style="">&nbsp&nbsp hello<br>&nbsp&nbsp<span class="time">2017/7/14<span></td>
                  </tr>
                </table>
                互联网是个技术，金融是一门生意。把一个技术应用到一个生意上不是很正常的事儿嘛。实际上金融业在十多年前就开始全面电子化了，行业里的沟通也很大程度依赖网络，只不过敏感的信息传递多都不是通过互联网而是专门架设的专线网络。互联网比专线网的优势是它能够直达普罗大众的，所以互联网在金融上的应用只能蚕食传统金融机构针对普通消费者的业务，但很难动摇它们对于机构客户的业务。另外，因为金融业数据的不开放性，互联网企业做金融遇到的数据上的障碍会比传统金融机构做互联网要大。这也是为什么很多互联网公司会不要利润，因为它们在搜集数据。数据搜集到了，他们就有机会挑战各个行业里传统的垄断者了。<a href="https://media.weibo.cn/article?id=2309404126842893252606&jumpfrom=weibocom">链接：微博文章</a>
                <div class="" style="margin-top:10px">
                  <span class="glyphicon glyphicon-thumbs-up">
                    68</span>
                  &nbsp&nbsp&nbsp<span class="glyphicon glyphicon-share-alt"></span>&nbsp&nbsp&nbsp<span class="glyphicon glyphicon-comment"></span>

                </div>
              </div>
            </div>

          </div>
          <div class="panel panel-default" style="margin-top:10px">
            <div class="panel-body">
              <div class="">
                <table>
                  <tr>
                    <td><%= link_to image_tag("user2.jpg",alt:"user1",class:"img-responsive img-circle")%></td>
                    <td style="">&nbsp&nbsp monkeyfly<br>&nbsp&nbsp<span class="time">2017/7/14<span></td>
                      </tr>
                    </table>
                    机器之心 - 吴恩达重磅回归，成立创业公司Deeplearning.ai（分享自知乎网）<a href="https://zhuanlan.zhihu.com/p/27538445">链接：吴恩达重磅回归，成立创业公司Deeplearning.ai - 知乎专栏</a>
                    <div class="" style="margin-top:10px">
                      <span class="glyphicon glyphicon-thumbs-up">
                        0</span>
                      &nbsp&nbsp&nbsp<span class="glyphicon glyphicon-share-alt"></span>&nbsp&nbsp&nbsp<span class="glyphicon glyphicon-comment"></span>
                    </div>
                  </div>
                  <hr>
                  <table>
                    <tr>
                      <td><%= link_to image_tag("user3.jpg",alt:"user1",class:"img-responsive img-circle")%></td>
                      <td style="">&nbsp&nbsp well : 吴恩达在这个领域很专业<br>&nbsp&nbsp<span class="time">2017/7/14<span></td>
                        </tr>
                      </table>
                    </div>
                  </div>

                </div>
                <style media="screen">
                  .time {
                    color: gray;
                  }

                </style>
